# ---- FRONTEND ----- #
reflex
reflex-local-auth

#requests
httpx

# plots
plotly

# ---- BACKEND ----- #

# api
fastapi

#supabase
supabase

#storage
boto3

#cache
redis

# web serverz
uvicorn[standard]

# data model
pydantic
typing

# database
sqlalchemy
pymysql
mysql-connector-python
mysqlclient

# databse migrations
alembic
psycopg2-binary

# password hashing
python-multipart
python-jose[cryptography]
passlib[bcrypt]

#geolocation
geopy
certifi
folium


## ----- Basics ---------
pandas
numpy
